@page
@using CountyApplication
@using CountyApplication.Controllers
@using CountyLibrary.Models
@using Microsoft.AspNetCore.Components.Web
@model CountyApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <select name="selectedStateControl" onchange="handleChange(this)">
        <option value="">Select a State</option>
        @foreach (State state in Service.CountyService.States)
        {
            <option value="@state">@state.StateName</option>
        }
    </select>
    <button type="submit">Choose</button>
</form>
<script>
    function handleChange(selectElement) {
        var selectedValue = selectElement.value;
        fetch ('/api/States/StateChange', {
            method: 'POST',
            headers: {
                 'Content-Type': 'application/json'
            },
            body: 
                JSON.stringify({ statename: selectedValue })
        });
    }
</script>
