@page
@using CountyLibrary.Models
@model CountyApplication.Pages.Test
@{
    bool visible = !State.IsNull(Service.SelectedState);
    if (visible)
    {
        ViewData["Title"] = $"{Service.SelectedState.StateName} State Test";
        Service.LoadTest();
    }
}
@if (visible)
{
    <div>
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <ol>
                @for (int i = 0; i < Service.TestEntries.Count; i++)
                {
                    <li>
                        <label for="dropdown-@i">@Service.TestEntries[i].County.CountyName: </label>
                        <select id="dropdown-@i" name="dropdown-@i" onchange="handleChange(@i)">
                            <option value="">Choose the correct county seat</option>
                            @foreach (SelectedCountySeatView view in Service.CountySeats)
                            {
                                <option value="@view">@view.CountySeatName</option>
                            }
                        </select>
                    </li>
                }
            </ol><br />
            <button type="submit">Submit Test</button>
        </form>
    </div>
}
else
{
    <div>
        <h1>No State was Found</h1>
        <a type="text/plain" asp-page="/Index">Go Back</a>
    </div>
}
<script>
    function handleChange(index) {
        var dropdown = document.getElementById('dropdown-' + index);
        var selectedValue = dropdown.value;
        fetch ('/api/CountySeats/CountySeatChange', {
            method: 'POST',
            headers: {
                 'Content-Type': 'application/json'
            },
            body: 
                JSON.stringify({ countyseatname: selectedValue, indexlocation: index })
        });
    }
</script>